{:company/legal-name "RICHTER GEDEON VEGYÉSZETI GYÁR NYILVÁNOSAN MŰKÖDŐ RT."
 :company/lei "549300J6ZJW5IH4WEE46"
 :company/jurisdiction "HU"
 :company/legal-name-transliterated "RICHTER GEDEON NYRT."
 :company/website "https://www.gedeonrichter.com/en"
}
